@use 'styles/colors';

.inputTypeOptions {
  margin: 0;
  margin-bottom: -12px;
  width: 100%;
}

.tabFrame {
  border: solid 3px colors.$gray-200;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: none;
  width: 100%;
  margin-top: -4px;
}
