@use 'styles/colors';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
}
.inputLine {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.contactTable {
  overflow: hidden;
  table-layout: fixed;
  th,
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      overflow: visible;
    }
  }

  td {
    position: relative;
    &:last-child {
      width: 10px;
    }

    &.error {
      box-shadow: inset 0px 0px 0px 2px colors.$error;
    }
    .errorMessage {
      padding-left: 0.25rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: left;
      font-size: smaller;
      color: colors.$error;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
