@use 'styles/colors';

.group {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

.input {
  display: none;

  // style label of checked input
  &:checked + .label .icon {
    background-color: colors.$bronto;
  }
}

.icon {
  display: inline-block;
  border: 4px solid colors.$bronto-light;
  background-color: colors.$bronto-light;
  padding: 1rem;
  border-radius: 10rem;
  &:hover {
    border-color: colors.$bronto;
  }

  svg {
    fill: #fff;
  }
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 14rem;

  .title {
    text-align: center;
  }

  .detail {
    text-align: center;
    font-size: smaller;
  }
}

// set up color for opportunities
.group.blue {
  .input {
    &:checked + .label .icon {
      background-color: colors.$opportunities;
    }
  }

  .icon {
    border-color: colors.$opportunities-light;
    background-color: colors.$opportunities-light;
    &:hover {
      border-color: colors.$opportunities;
    }
  }
}
