@use 'styles/colors';

@mixin basic-button {
  border-radius: 8px;
  padding: 4px 32px;
  cursor: pointer;
  text-align: center;
  height: 44px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@mixin primary-button {
  color: white;
  background-color: colors.$bronto;
  border: 2px solid colors.$bronto;
  font-size: 1rem;
  &:hover {
    background-color: colors.$bronto-400;
  }
}

@mixin secondary-button {
  color: colors.$bronto;
  background-color: white;
  border: 1px solid colors.$bronto;
  font-size: 1rem;

  &:hover {
    background-color: colors.$bronto-super-light;
  }
}

@mixin tertiary-button {
  color: colors.$bronto;
  background-color: white;
  text-decoration: underline;
  border: 0;
  font-size: 1rem;

  &:hover {
    color: colors.$bronto-400;
    text-decoration: none;
  }
}

.button {
  @include basic-button;
}

.primary {
  @include primary-button;
}

.secondary {
  @include secondary-button;
}

.tertiary {
  @include tertiary-button;
}

:global .opportunitySection {
  :local .primary {
    background-color: colors.$opportunities;
    border-color: colors.$opportunities;
  }
}

.danger {
  background-color: colors.$error;
  color: black;
}

.secondary {
  color: black;
  background: none;
  font-size: 0.875rem;
  &:hover {
    font-weight: bold;
  }
}
