@use 'styles/colors';

.button {
  border-radius: 12px;
  padding: 4px 32px;
  cursor: pointer;
  text-align: center;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.success {
  color: white;
  background-color: colors.$bronto;
  border: 2px solid colors.$bronto;
  font-size: 1rem;
}

.light {
  &:hover {
    background-color: colors.$gray-200;
  }
}

.plain {
  color: black;
  background-color: transparent;
  border: 1px solid colors.$gray-400;
  font-size: 1rem;

  &:hover {
    background-color: rgba(colors.$bronto, 0.18);
  }
}

:global .opportunitySection {
  :local .success {
    background-color: colors.$opportunities;
    border-color: colors.$opportunities;
  }
}

.danger {
  background-color: colors.$error;
  color: black;
}

.secondary {
  color: black;
  background: none;
  font-size: 0.875rem;
  &:hover {
    font-weight: bold;
  }
}
