$opacity: 0.85;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.container {
  padding: 1rem;
  background-color: rgba(#ddd, $opacity);
}

.success {
  background-color: rgba(green, $opacity);
}

.error {
  background-color: rgba(red, $opacity);
}

.info {
  background-color: rgba(blue, $opacity);
}

.warning {
  background-color: rgba(orange, $opacity);
}

.detail {
  white-space: pre-wrap;
}
