@use 'styles/colors';
@use 'components/FormLayout/FormLayout.module' as formLayout;
@use 'styles/media';

.isHidden {
  display: none;
}

$step-button-horizontal-padding: 1rem;
$step-button-vertical-padding: 0.2rem;
$step-button-border-width: 4px;
$step-button-height: 1rem;
$step-button-connect-height: 4px;
$step-button-horizontal-gap: 1rem;
$step-button-line-height: 1.5rem;

.navWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.actions {
  @include formLayout.actions;
}

.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem $step-button-horizontal-gap;
  @include media.for-phone-only {
    margin-top: 16px;
    overflow: hidden;
  }
  .stepButton {
    line-height: $step-button-line-height;
    white-space: nowrap;
    padding: $step-button-vertical-padding $step-button-horizontal-padding;
    border: $step-button-border-width solid colors.$bronto-light;
    background-color: colors.$bronto-light;
    color: colors.$bronto;
    border-radius: 2rem;
    height: 44px;
    &::first-letter {
      text-transform: uppercase;
    }

    &.isError {
      border-color: colors.$error;
    }
    &:hover {
      border-color: colors.$bronto;
      transition: 220ms ease-in;
    }
    &.isActive {
      background-color: colors.$bronto;
      border-color: colors.$bronto;
      transition: 220ms ease-in;
      color: white;
      &.isError {
        border-color: colors.$error;
        transition: 220ms ease-in;
      }
    }
    // this connects step buttons with a line
    &:not(:last-child):after {
      z-index: -1;
      content: '';
      position: absolute;
      background: colors.$bronto-light;
      width: calc($step-button-horizontal-gap + 2px);
      height: $step-button-connect-height;
      transform: translateX(
          calc(
            $step-button-border-width + $step-button-horizontal-padding - 1px
          )
        )
        translateY(
          calc($step-button-line-height / 2 - $step-button-connect-height / 2)
        );
      @include media.for-phone-only {
        width: 120px;
        transform: translateX(0)
          translateY(
            calc($step-button-line-height / 2 - $step-button-connect-height / 2)
          );
      }
    }

    @include media.for-phone-only {
      height: 36px;
      line-height: 1rem;
      font-size: 1rem;
      color: colors.$bronto;
      padding: $step-button-vertical-padding 0.4rem;
    }
  }
}

.bottomNavigation {
  margin-top: 2rem;
  display: flex;
  .spacer {
    flex: auto;
  }
}

@include media.for-phone-only {
  .topActions {
    display: none;
  }
}
