@use 'styles/colors';

.container {
  position: relative;
  padding: 1rem 1rem 1rem 2rem;
  background-color: colors.$gray-100;

  display: flex;
  align-items: flex-start;

  .message {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    a {
      text-decoration: underline;
    }
  }

  .closeButton {
    padding: 0.25rem;
    border-radius: 2rem;

    &:hover {
      background-color: colors.$gray-200;
    }
  }
}
