@use '../colors';

.container {
  display: inline-block;
  position: relative;
  top: calc((0.75rem + 4px) / 2);
}

.blockContainer {
  display: block;
  width: 100%;
}

.inputWrapper {
  &.isError {
    input,
    textarea {
      border-color: colors.$error;
    }
    :global .quill {
      border-color: colors.$error;
    }
  }
}

.errorMessage {
  color: colors.$error;
  font-size: 0.75rem;
  margin-bottom: 4px;
  height: 0.75rem;
}
