.trigger {
  border: 1px solid green;
  color: green;
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: super;
  padding: 0.5rem;
}

.tooltip {
  ul {
    list-style-type: disc;
    margin: 1rem 2rem;
  }
}
