.wrapper {
  border: 2px solid #ebeff4;
  border-radius: 10px;

  &::placeholder {
    color: rgb(166, 166, 166);
    font-size: 0.875rem;
  }

  :global .ql-toolbar {
    color: black;
    border: none;
    border-bottom: 2px solid #ebeff4;
  }
  :global .ql-container {
    border: none;
  }
}
