@use '../colors';

.table {
  margin: 2rem 8rem;
  table-layout: auto;
  th,
  td {
    padding: 0.5rem;
  }
  thead {
    th {
      border-bottom: 1px solid #737373;
      text-align: left;
    }
  }
  tbody tr {
    td {
      border-bottom: 1px solid #d9d9d9;
      &:first-child {
        border-right: 1px solid #d9d9d9;
      }
    }
  }
}

.inProgress {
  color: colors.$bronto-light;
}

.finished {
  color: colors.$bronto;
}

.closed {
  color: black;
}
