@use 'colors';

.header {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

// styling of the information about event (date, location)
.infoBox {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem 2rem;
  > * {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

// styling of messages before and after event
.info {
  white-space: pre-wrap;
  background-color: colors.$bronto;
  color: white;
  font-weight: bold;
  padding: 1rem;
}
