@use './colors';

.mainActionButton {
  color: white;
  background-color: colors.$bronto;
  border: 2px solid colors.$bronto;
  font-size: 1rem;
}

.alternativeActionButton {
  color: black;
  background: none;
  font-size: 0.875rem;
  &:hover {
    font-weight: bold;
  }
}

.dangerActionButton {
  background-color: colors.$error;
  color: black;
}

input:not([type]),
input[type='text'],
input[type='password'],
input[type='number'],
input[type='date'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='datetime-local'],
textarea,
select {
  border: 2px solid #ebeff4;
  border-radius: 10px;
  padding: 5px;

  &::placeholder {
    color: rgb(166, 166, 166);
    font-size: 0.875rem;
  }
}

button,
input[type='submit'],
.actionButton {
  border-radius: 10px;
  padding: 5px 2rem;
  cursor: pointer;
  text-align: center;
}
