.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 4px;
}

.subtitle {
  text-align: center;
  font-size: 0.875rem;
  margin-bottom: 8px;
}

.formContainer {
  width: 400px;
  max-width: 100%;
  position: relative;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .formElement {
    width: 100%;
    display: block;
    font-size: 00.875em;
  }
}
