@use 'styles/media';

.container {
  width: 350px;
  @include media.for-phone-only {
    width: 100%;
  }
  height: 250px;
}

.searchForm {
  fieldset {
    display: flex;
    input[type='text'] {
      flex: auto;
    }
  }
  display: block;
  width: 100%;
}
