@use 'styles/colors';

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
}

.table {
  table-layout: auto;
  width: 100%;
  margin-top: 16px;
  th,
  td {
    padding: 0.5rem;
  }
  thead {
    th {
      border-bottom: 1px solid #737373;
      text-align: left;
    }
  }

  tbody {
    .highlightedRow {
      background-color: colors.$gray-200;
    }
    td {
      cursor: pointer;
      text-align: center;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        border-right: 1px solid #d9d9d9;
      }
      &:nth-child(1) {
        text-align: left;
      }
      &:nth-child(2) {
        width: 50px;
      }
      &:last-child {
        width: 50px;
        border-right: 0px solid #d9d9d9;
      }
      &:hover {
        background-color: colors.$gray-200;
      }
    }
  }

  tbody tr td {
    border-bottom: 1px solid #d9d9d9;
  }
  &.verticalLine1 {
    tbody tr td:first-child {
      border-right: 1px solid #d9d9d9;
      text-align: center;
    }
  }
}

.disabledIconContainer {
  svg {
    path {
      fill: colors.$gray-200;
    }
  }
  cursor: not-allowed !important;
}

.binIconContainer {
  width: 14px;
  path {
    fill: colors.$edit-event-main;
  }
}
.addUserIconContainer {
  width: 20px;
  path {
    fill: colors.$close-event-main;
  }
}

.editUserIconContainer {
  width: 20px;
  path {
    fill: colors.$edit;
  }
}

.applicationWithParticipant {
  font-weight: 600;
  color: colors.$gray-300;
}

.applicationAddedTag {
  color: colors.$bronto;
  font-weight: 600;
}

.participantsContainer {
  width: 80%;
  border: 2px solid rgb(240, 238, 238);
  margin: 50px auto 0;
  display: flex;
  flex-direction: row;

  .ListContainer {
    width: 50%;
    padding: 40px;

    .buttonsContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 16px;
      button {
        border: 1px solid black;
        border-radius: 4px;
        margin-right: 8px;
      }

      button:hover {
        background-color: rgba(211, 216, 221, 0.7);
      }
    }

    .searchContainer {
      background-color: #f8f8fa;
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      margin-top: 12px;
      .searchBox {
        margin-left: 12px;

        button {
          border: 1px solid black;
          border-radius: 4px;
          margin-right: 8px;
          background-color: none;
          cursor: pointer;
        }

        button:hover {
          background-color: rgba(211, 216, 221, 0.7);
        }
      }
    }

    .emptyListBox {
      width: 100%;
      height: 300px;
      border: solid 2px #f8f8fa;
      color: #737373;
      img {
        width: 80px;
        margin: 80px auto 0;
      }
      div {
        margin: 0px auto 70px;
        width: 210px;
      }
    }
    .lightUp {
      animation: sampleanimation 7s;
      animation-iteration-count: 1;
    }
  }
}

.disabledButton {
  border: 1px solid #f8f8fa !important;
  cursor: not-allowed !important;
  color: #737373 !important;
  &:hover {
    background-color: white !important;
  }
}

.addedUserBlock {
  margin-top: 40px;
}

@keyframes sampleanimation {
  0% {
    background-color: white;
  }
  10% {
    background-color: colors.$bronto-light;
  }
  25% {
    background-color: colors.$bronto-light;
  }
  50% {
    background-color: colors.$bronto-light;
  }
  75% {
    background-color: white;
  }
}

.rejectedRow {
  color: colors.$gray-300;
  pointer-events: none;
}
