@use 'styles/media';
@use 'styles/sizes';
@use 'styles/colors';

.aboveMap {
  z-index: 1000;
}

.fullWidth {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.topContentContainer {
  width: 100%;
  display: flex;
  gap: 8px;
  @include media.for-phone-only {
    width: 100%;
    flex-direction: column;
  }
  .selectLocationBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    @include media.for-phone-only {
      flex-direction: column;
    }
    .editingLocation {
      font-size: 1.4rem;
      display: flex;
      gap: 0.5rem;
    }
    .selectLocationItem {
      align-items: center;
      gap: 16px;
      display: flex;
      @include media.for-phone-only {
        flex-direction: column;
        align-items: flex-start;
      }
      .selectLocation {
        width: 300px;
      }
    }
  }
  .editStatePending {
    color: colors.$edit;
  }
  .editStateDone {
    color: colors.$bronto;
  }
}

.mainContentContainerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  display: flex;
  gap: 8px;
  @include media.for-phone-only {
    width: 100%;
    flex-direction: column;
  }
  .mainContentContainer {
    width: 100%;
    display: flex;
    gap: 8px;
    @include media.for-phone-only {
      width: 100%;
      flex-direction: column;
    }
    .mapColumn {
      .mapContainer {
        width: sizes.$map-width;
        @include media.for-phone-only {
          width: 100%;
        }
        height: sizes.$map-height;
      }
      button {
        margin: 1rem auto;
      }
    }

    .mapSpacer {
      width: 4px;
    }
  }
}

.locationInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
  border: 3px solid colors.$bronto-100;
  padding: 0.8rem;
  border-radius: 8px;
  @include media.for-phone-only {
    width: 100%;
  }
  div {
    column-gap: 0.3rem;
  }
  .fieldTitle {
    font-weight: 600;
  }
  .GPS {
    width: 70px !important;
  }

  .saveLocationButtons {
    flex-wrap: nowrap;
    margin: 0;
    display: flex;
    button {
      width: 48%;
      height: 60px;
    }
  }
  .emptyLocation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: colors.$gray-400;
    svg {
      margin-top: -100px;
      path {
        fill: colors.$gray-400;
      }
    }
    div {
      text-align: center;
    }
  }
}
.locationSelected {
  background-color: colors.$bronto-100;
}

.buttonBigScreen {
  display: block;
  @include media.for-phone-only {
    display: none;
  }
}
.buttonSmallScreen {
  display: none;
  @include media.for-phone-only {
    display: block;
  }
}
